footer{
	background: #1B2835;
	color: #fff;
	padding: 6rem 0 1rem;
  font-family: inherit;
  margin-left: -10px;
}
 footer ul{
 	list-style: none;
 	padding-left: 0
 }
footer p , footer ul li a{
	color: #fff;
    font-size: 19px;
    list-style: none;
    text-decoration: none;
}
 footer ul li a:hover{
	text-decoration: underline;
	color: #fff
}
* {
  font-family: 'Roboto', sans-serif;
}
footer i{
	color: #EE4036
}


  footer .social{
  	display: flex;
  }
   footer .social li{
   	margin-right: 15px;
   }
    footer .social li:hover a{
    	opacity: 0.5
    }
   footer h3{
   	position: relative;
    margin-bottom: 3rem;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
   }
  footer h3:after{
  	position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    background: #FBAF40;
    bottom: -1.5rem;
    left: 0;
  }
  .links li{
  	margin-bottom: 10px;
  	text-transform: uppercase;
  }
  .sbscrbForm .form-control{
  	background: transparent;
  	border: 1px solid #fff;
  	font-size: 20px;
    min-height: 50px;;
    color: #fff;
  }
   .sbscrbForm .btn{
   	background: #24AAE0;
    font-family: "graphik semibold";
    color: #fff;
    padding: 15px 60px;
    transition: all 0.5s;
    font-size: 18px;
    font-weight: bolder;
   }
   .sbscrbForm .btn:hover{
   	background: #0E99D1
   }
   .copyRight{
   	border-top: 1px solid #A6B2BA;
   	    margin-top: 3rem;
   }
    .copyRight p{
     color: #8F8F8F;
    text-align: center;
    margin: 15px 0 0;
    }
 .sbscrbForm .form-control::placeholder{
 	color: #fff;
    font-size: 20px;
 }


 @media only screen and (max-width: 600px) {

    .footer-main{
      align-items: center;
      /* flex-direction: column; */
      justify-content: center;
      width: 60%;
    }
    .footer-main .footer-img{
      width: 100%;
    }
    .sbscrbForm .form-control{
      background: transparent;
      border: 1px solid #fff;
      font-size: 8px;
      min-height: 30px;;
      color: #fff;
      padding: 8px 0px;
    }
     .sbscrbForm .btn{
       background: #24AAE0;
      font-family: "graphik semibold";
      color: #fff;
      padding: 10px 30px;
      transition: all 0.5s;
      font-size: 12px;
      font-weight: bolder;
     }
     .form-group{
      width: 100%;
     }


 }